services:

  zensical:
    build: .
    image: zensical
    container_name: zensical
    entrypoint: "zensical"
    volumes:
      - ./content:/workspace

  zensical_serve:
    build:
      dockerfile: ./ZensicalServe.Dockerfile
    image: zensical_serve
    container_name: zensical_serve
    ports:
      - "8000:8000"
    # see readme for why we have to use watch instead of a volume mount
    develop:
      watch:
        - action: sync
          path: ./content
          target: /workspace

  zensical_build:
    build:
      dockerfile: ./ZensicalBuild.Dockerfile
    image: zensical_build
    container_name: zensical_build
    volumes:
      - ./content:/workspace
